extend layout
block content
  p
    a.btn.btn-default(href='/payments/new') Add
  form(action='/payments/query/')
    if query
      input#search(type='text', name="q", placeholder='Mongo Query', value="#{query}").form-control
    else
      input#search(type='text', name="q", placeholder='Mongo Query').form-control
    .small
      i Ex: 
      code {"merchantIdentifier":"merchant.com.adyen","merchantReference":"TMRef436293945"}
  br
  table.table
    thead
      tr
        th Date
        th Ref
        th PSP
        th Amount
        th(title="paymentNetwork") Network
        th Response
    each p, i in payments
      tr(class=(i % 2 == 0) ? 'odd' : 'even')
        td 
          a(href='/payments/#{p._id}', title='Sent: #{p.sent}') #{p.date}
          if p.date != p.sent
            |&nbsp;-&gt;&nbsp;#{p.sent}
        td #{p.merchantReference}
        td #{p.pspReference}
        td #{p.currency} #{p.amount} 
        td #{p.paymentNetwork}
        td #{p.sentResponse}
  br
  pre #{last_pal_resp}
