extend layout
block content
  table.table
    thead
      tr
        th Date
        th Ref
        th PSP
        th Amount
        th(title="paymentNetwork") Network
        th Response
        th Actions
      tr(class=(i % 2 == 0) ? 'odd' : 'even')
        td 
          a(href='/payments/#{p._id}', title='Sent: #{p.sent}') #{p.date}
          if p.date != p.sent
            |&nbsp;-&gt;&nbsp;#{p.sent}
        td #{p.merchantReference}
        td #{p.pspReference}
        td #{p.amount} #{p.currency}
        td #{p.paymentNetwork}
        td #{p.sentResponse}
        td
          a(href='/payments/#{p._id}/delete') 
            span.glyphicon.glyphicon-remove
          a(href='/payments/#{p._id}/send')
            span.glyphicon.glyphicon-send
  br
  pre
    code(class='js') #{json}
